# Ignore node_modules in both client and server
client/node_modules/
server/node_modules/

# Ignore build artifacts
client/build/

# Environment files
**/.env
**/.env.local

# Logs
logs/
*.log

# OS/IDE-specific files
.DS_Store
.vscode/
